<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="MonoAndroid23" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="MonoAndroid23" />
  <package id="Stateless" version="2.5.53.0" targetFramework="MonoAndroid23" />
</packages>