<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="MonoAndroid22" />
  <package id="SQLitePCL.raw_basic" version="0.5.0" targetFramework="MonoAndroid22" />
  <package id="SQLitePCL.ugly" version="0.5.0" targetFramework="MonoAndroid22" />
</packages>