<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid403" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="MonoAndroid403" />
  <package id="Stateless" version="2.5.61.0" targetFramework="MonoAndroid403" />
</packages>