<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Couchbase.Lite" version="2.0.0-b0037" targetFramework="monoandroid71" />
  <package id="Couchbase.Lite.Support.Android" version="2.0.0-b0037" targetFramework="monoandroid71" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="1.6.0" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid71" />
  <package id="Remotion.Linq" version="2.1.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="monoandroid71" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="monoandroid71" />
  <package id="xunit.core" version="2.1.0" targetFramework="monoandroid71" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="monoandroid71" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="monoandroid71" />
  <package id="xunit.runner.devices" version="2.1.0" targetFramework="monoandroid71" />
  <package id="xunit.runner.utility" version="2.1.0" targetFramework="monoandroid71" />
</packages>