[submodule "src/Couchbase.Lite.Net35/vendor/Rackspace"]
	path = src/Couchbase.Lite.Net35/vendor/Rackspace
  	url = https://github.com/couchbasedeps/dotnet-httpclient35.git
[submodule "src/Couchbase.Lite.Net35/vendor/Stateless"]
	path = src/Couchbase.Lite.Net35/vendor/Stateless
	url = https://github.com/couchbasedeps/stateless.git
[submodule "src/Couchbase.Lite.Unity/vendor/JSON.NET"]
	path = src/Couchbase.Lite.Unity/vendor/JSON.NET
	url = https://github.com/couchbasedeps/Newtonsoft.Json.git
[submodule "src/Couchbase.Lite.Shared/vendor/SQLitePCL"]
	path = src/Couchbase.Lite.Shared/vendor/SQLitePCL
	url = https://github.com/couchbasedeps/SQLitePCL.raw.git
