[submodule "src/Couchbase.Lite.Net35/vendor/Rackspace"]
	path = src/Couchbase.Lite.Net35/vendor/Rackspace
  url=https://github.com/couchbasedeps/dotnet-httpclient35.git
[submodule "src/Couchbase.Lite.Net35/vendor/Stateless"]
	path = src/Couchbase.Lite.Net35/vendor/Stateless
	url = https://github.com/couchbasedeps/stateless.git

