<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jint" version="2.8" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="xamarinios10" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="xamarinios10" />
  <package id="Stateless" version="2.5.62.0" targetFramework="xamarinios10" />
</packages>