<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <!--configSections>
        <section name="couchbaselite" type="Couchbase.Lite.Configuration.CouchbaseConfigurationHandler, Couchbase.Lite" />
    </configSections>
    <couchbaselite>
        <logging>
            <domains>
                <Sync verbosity="verbose" />
            </domains>
        </logging>
    </couchbaselite-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stateless" publicKeyToken="93038f0927583c9a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.61.0" newVersion="2.5.62.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Jint" publicKeyToken="2e92ba9c8d81157f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.1.0" newVersion="2.7.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>