<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net35" />
  <package id="SQLitePCL.native.sqlcipher.linux" version="0.9.1" targetFramework="net35" />
  <package id="SQLitePCL.native.sqlcipher.osx" version="0.9.1" targetFramework="net35" />
  <package id="SQLitePCL.native.sqlcipher.windows" version="0.9.1" targetFramework="net35" />
  <package id="SQLitePCL.plugin.sqlcipher.net35" version="0.9.1" targetFramework="net35" />
  <package id="SQLitePCL.raw" version="0.9.1" targetFramework="net35" />
  <package id="SQLitePCL.ugly" version="0.9.1" targetFramework="net35" />
</packages>