<#@ template language="C#" hostspecific="false" #>

using System.Reflection;

<#
string assemblyVersion =  System.Environment.GetEnvironmentVariable("VERSION") ?? "0.0.0";
string nugetVersion = System.Environment.GetEnvironmentVariable("NUGET_VERSION") ?? envAssembly;
#>

[assembly: AssemblyVersion ("<#= assemblyVersion#>")]
[assembly: AssemblyInformationalVersion("<#= nugetVersion#>")] // Used by nuget for semver detection.