<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLitePCL.plugin.sqlcipher.ios_unified" version="0.9.0-pre7" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw" version="0.9.0-pre7" targetFramework="xamarinios10" />
  <package id="SQLitePCL.ugly" version="0.9.0-pre7" targetFramework="xamarinios10" />
</packages>