<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="MonoTouch10" />
  <package id="SQLitePCL.raw_needy" version="0.6.1" targetFramework="MonoTouch10" />
  <package id="SQLitePCL.ugly" version="0.6.1" targetFramework="MonoTouch10" />
</packages>