<?xml version="1.0" encoding="UTF-8" ?>
<system.diagnostics>
  <sources>
    <source name="System.Net" tracemode="includehex" maxdatasize="1024">
       <listeners>
         <add name="System.Net"/>
       </listeners>
     </source>
     <source name="System.Net.Sockets">
       <listeners>
         <add name="System.Net"/>
       </listeners>
     </source>
     <source name="System.Net.Cache">
       <listeners>
         <add name="System.Net"/>
       </listeners>
     </source>
     <source name="System.Net.HttpListener">
       <listeners>
         <add name="System.Net"/>
       </listeners>
     </source>
   </sources>
   <switches>
     <add name="System.Net" value="Verbose"/>
     <add name="System.Net.Sockets" value="Verbose"/>
     <add name="System.Net.Cache" value="Verbose"/>
     <add name="System.Net.HttpListener" value="Verbose"/>
                 <!--  CONTROLS THE TRACING OF SOAP MESSAGES
                 The valid values are:
                 0 - Off (no tracing)
                 1 - Error (trace only SOAP faults !!! NOT IMPLEMENTED !!!)
                 3 - Info (trace SOAP message info)
                 4 - Verbose (trace the entire SOAP message)
                 -->
                 <add name="SOAP" value="4"/>
   </switches>
   <sharedListeners>
     <add name="System.Net"
       type="System.Diagnostics.TextWriterTraceListener"
       initializeData="network.log"
     />
   </sharedListeners>
   <trace autoflush="true"/>
 </system.diagnostics>