?¿<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" 
          type="System.Diagnostics.TextWriterTraceListener" 
          initializeData="application.log" />
          <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Stateless" publicKeyToken="93038f0927583c9a" culture="neutral"/>
            <bindingRedirect oldVersion="0.0.0.0-2.5.61.0" newVersion="2.5.62.0"/>
        </dependentAssembly>
        <dependentAssembly>
            <assemblyIdentity name="Jint" publicKeyToken="2e92ba9c8d81157f" culture="neutral"/>
            <bindingRedirect oldVersion="0.0.0.0-2.7.1.0" newVersion="2.7.1.0"/>
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
