<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jint" version="2.8" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="net45" />
  <package id="SQLitePCL.native.sqlcipher.linux" version="0.9.0-pre8" targetFramework="net45" />
  <package id="SQLitePCL.native.sqlcipher.osx" version="0.9.0-pre8" targetFramework="net45" />
  <package id="SQLitePCL.native.sqlcipher.windows" version="0.9.0-pre8" targetFramework="net45" />
  <package id="SQLitePCL.plugin.sqlcipher.net45" version="0.9.0-pre8" targetFramework="net45" />
  <package id="SQLitePCL.raw" version="0.9.0-pre8" targetFramework="net45" />
  <package id="SQLitePCL.ugly" version="0.9.0-pre8" targetFramework="net45" />
  <package id="Stateless" version="2.5.62.0" targetFramework="net45" />
</packages>