<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="SharpZipLib.Portable" version="0.86.0.0002" targetFramework="net45" />
</packages>